{{! filepath: /home/student/Documents/CSC_648/csc648-fa25-0104-team03/application/Frontend/src/views/partials/productcard.hbs }}
<div class="product-collection">
  <div class="product-card">
    <div class="product-img-section">
      <img class="product-img" src="{{thumbnail}}" />
      <span class="save-button-span">
        <button class="save-button" id="save-button">Save</button>
      </span>
    </div>
    <div class="product-info">
      <p class="product-name">{{title}}</p>
      <p class="product-price">${{price}}</p>
      <p class="product-condition">{{condition}}</p>
      {{!-- <p class="product-seller">{{seller}}</p>
            <p class="product-location">{{location}}</p>
            <p class="product-description">{{description}}</p> --}}
    </div>

  </div>
</div>