<div class="product-card-marketplace bg-#f6f6f6 overflow-hidden relative">
  <div class="product-img-section border border-light-gray-500 rounded-lg">
    <button
      class="product-link w-full h-48 cursor-pointer"
      id="product-link"
      onclick="window.location.href='/listing'"
    >
      <img
        class="product-img w-full h-48 object-cover rounded-md"
        src="{{thumbnail}}"
        alt="{{title}}"
      />
    </button>
  </div>
  <div class="product-info p-2 text-left">
    <button
      class="product-link"
      id="product-link"
      onclick="window.location.href='/listing'"
    >
      <h3 class="product-title text-lg font-bold cursor-pointer">{{title}}</h3>
    </button>

    <p class="product-price text-base text-gray-600">${{price}}</p>
    <p class="product-location text-sm text-gray-500">{{location}}</p>
  </div>
  {{!--
  <span class="save-button-span absolute">
    <button
      class="save-button bg-blood-orange-500 rounded-full top-1 right-1 ml-1 mt-1 cursor-pointer"
      id="save-button"
    >
      <img
        class="bookmark-icon size-6"
        src="/frontend/Assets/icons/feather-dark-gray/bookmark.svg"
        alt="Bookmark"
      />
    </button>
  </span>
  --}}
</div>
