<div
  class="product-card bg-dark-gray-500 rounded-lg p-4 shadow-md flex flex-row gap-4 text-light-black-500"
>
  <div class="product-img-section size-auto">
    <img class="product-img h-48 w-80" src="{{thumbnail}}" />
    <span class="save-button-span absolute top-2.5 right-4">
      <button class="save-button block" id="save-button">
          <img
            class="bookmark-icon"
            src="/frontend/Assets/icons/feather-blood-orange/bookmark.svg"
            alt="Bookmark"
          />
      </button>
    </span>
  </div>
  <div class="product-info flex-col w-full text-left gap-2">
    <p class="product-name font-bold text-2xl mt-2">{{title}}</p>
    <p class="product-price mt-2">${{price}}</p>
    <p class="product-condition mt-2">{{condition}}</p>
    <p class="product-description">{{description}}</p>
    <!-- <p class="product-seller">{{seller}}</p> -->
    <!-- <p class="product-location">{{location}}</p> -->
    <!-- <p class="product-description">{{description}}</p> -->
  </div>

</div>